/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #1a004e;
    background-image: url('./images/background2.jpg');
    padding: 20px;
    scroll-behavior: smooth;
}

/* Sticky header */
header {
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 1000;
    border-bottom: 2px solid #f4f4f4;
    padding: 10px 20px;
    
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 90px; /* Adjust as needed */
}

#logo span {
    margin-left: 10px;
    margin-right: 15%;
    color: #ffffff;
    font-size: 1.5em;
}

#menu a {
    text-decoration: none;
    text-emphasis: bold;
    font-size: large;
    color: #ffffff;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #fefefe;
    color: #000000;
}

/* Sections */
section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 2.5em;
}

p {
    margin-bottom: 10px;
}

img {
    border-radius: 5px;
}

.intro-flex {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Puts maximum space between flex items */
    gap: 0px; /* Optional: puts space between items */
}

.intro-text {
    flex: 1; /* Allows text div to grow and shrink as needed */
    padding: 50px;
}

.intro-text h1 {
    font-size: 2.0em;
}
.intro-text p {
    font-size: 1.2em;
    width: 90%;
    letter-spacing: 0.1px;
    word-spacing: 0.2px;
    line-height: 1.7;
    padding: 10px 20px 20px 20px;
}

.intro-img {
    flex-shrink: 0; /* Prevents the image div from shrinking */
    width: 50%; /* Sets the width of the image div */
    padding-right: 30px;
}

.intro-img img {
    width: 90%; /* Makes the image take up 100% width of its parent div */
    height: auto; /* Keeps the aspect ratio of the image */
    border-radius: 5px; /* Optional: rounds the corners of the image */
    box-shadow: #000000 0px 0px 10px; /* Optional: adds a shadow to the image */
}


/* Button */
.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #555;
}

/* Skills */
.skills-header {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.skills-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.skills-text {
    flex: 1;
    padding: 10px;
    padding-bottom: 0px;
}
.skills-text h1 {
    font-size: 2.0em;
}
.skills-text p {
    font-size: 1.2em;
    width: 90%;
    letter-spacing: 0.1px;
    word-spacing: 0.2px;
    line-height: 1.7;
    padding: 10px 20px 20px 0px;
}

.skills-img {
    flex-shrink: 0;
    width: 50%;
    padding-left: 30px;
}
.skills-img img {
    width: 90%;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: #000000 0px 0px 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

/* Project gallery */
#projects {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    padding: 20px;
    gap: 20px; /* Adds space between project items */
}

.project {
    flex: 0 0 auto; /* Prevents projects from stretching */
    width: 200px; /* Adjust as necessary for your project thumbnail size */
    text-align: center;
}

.project img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.project-title {
    font-weight: bold;
    margin-top: 5px;
}

/* Add left and right navigation buttons for projects */
#project-prev, #project-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
    z-index: 10;
}

#project-prev { left: 10px; }
#project-next { right: 10px; }

/* Content Blocks */
.content-block {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    padding: 20px;
    position: relative;
    width: 95%;
    max-width: 99%;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.content-block:hover {
    transform: translateY(-10px);
}

/* Responsive */
@media (min-width: 700px) {
    .container {
        width: 80%;
        margin: auto;
    }
}
